In [50]:
import pandas as pd
df = pd.read_csv('../Datasets/census/combined-datasets/census-percentages.csv', dtype={'GEOGRAPHY': str})
df = df[~df.apply(lambda x: x.astype(str).str.contains('-')).any(axis=1)]

In [51]:
portion = df.head(20)
portion

,GEOGRAPHY,YEAR,WHITE,BLACK_OR_AFRICAN_AMERICAN,AMERICAN_INDIAN_AND_ALASKA_NATIVE,ASIAN,NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER,HISPANIC_OR_LATINO
0,00601,2011,92.4,1.4,0.0,0.0,0.0,99.1
1,00601,2012,93.1,1.0,0.0,0.0,0.0,99.2
2,00601,2013,94.6,0.8,0.0,0.0,0.0,99.5
3,00601,2014,96.2,1.0,0.0,0.0,0.0,99.8
4,00601,2015,94.3,0.6,0.1,0.0,0.0,99.8
5,00601,2016,81.1,0.6,0.1,0.0,0.0,99.8
6,00601,2017,77.8,0.7,0.1,0.0,0.0,99.6
7,00601,2018,75.5,0.8,0.1,0.0,0.0,99.7
8,00601,2019,73.7,1.1,0.2,0.0,0.0,99.6
9,00601,2020,72.9,1.5,0.1,0.0,0.0,99.6
10,00601,2021,84.5,1.4,0.1,0.0,0.0,99.5
11,00601,2022,84.2,2.1,0.1,0.1,0.0,99.4
12,00602,2011,85.9,4.3,0.1,0.0,0.0,93.5
13,00602,2012,74.9,4.3,0.1,0.2,0.0,94.1
14,00602,2013,63.6,3.5,0.1,0.2,0.0,93.6
15,00602,2014,58.5,2.7,0.1,0.2,0.0,93.2
16,00602,2015,57.5,1.7,0.0,0.2,0.0,93.6
17,00602,2016,57.8,2.4,0.0,0.2,0.0,93.5
18,00602,2017,66.9,2.8,0.0,0.0,0.0,93.7
19,00602,2018,79.4,2.8,0.0,0.0,0.0,93.5

In [52]:
grouped = df.groupby('GEOGRAPHY')
resultRows = []

for name, group in grouped:
    years = list(group['YEAR'])
    yearsIndex = len(years)
    for yearIndex in range(1, len(years)):
        thisYear = years[yearIndex]
        thisDatapoint = group.iloc[yearIndex]
        prevDatapint = group.iloc[yearIndex-1]

        columns = thisDatapoint.index.tolist()
        columns = [col for col in columns if col not in ['GEOGRAPHY', 'YEAR']]

        thisRow = {
            'GEOGRAPHY': name,
            'YEAR': thisYear
        }
        
        for column in columns:
            oldValue = float(prevDatapint[column])
            newValue = float(thisDatapoint[column])

            if oldValue == newValue:
                percentageDrift = 0
            else:
                if oldValue == 0:
                    oldValue = 0.1
                percentageDrift = ((newValue - oldValue) / oldValue) * 100.0
            
            thisRow[column] = percentageDrift
        
        resultRows.append(thisRow)

resultDf = pd.DataFrame(resultRows)
resultDf.head()

,GEOGRAPHY,YEAR,WHITE,BLACK_OR_AFRICAN_AMERICAN,AMERICAN_INDIAN_AND_ALASKA_NATIVE,ASIAN,NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER,HISPANIC_OR_LATINO
0,00601,2012,0.757576,-28.571429,0.0,0.0,0.0,0.100908
1,00601,2013,1.611171,-20.000000,0.0,0.0,0.0,0.302419
2,00601,2014,1.691332,25.000000,0.0,0.0,0.0,0.301508
3,00601,2015,-1.975052,-40.000000,0.0,0.0,0.0,0.000000
4,00601,2016,-13.997879,0.000000,0.0,0.0,0.0,0.000000

In [53]:
resultDf.describe()

,YEAR,WHITE,BLACK_OR_AFRICAN_AMERICAN,AMERICAN_INDIAN_AND_ALASKA_NATIVE,ASIAN,NATIVE_HAWAIIAN_AND_OTHER_PACIFIC_ISLANDER,HISPANIC_OR_LATINO
count,360641.000000,360641.000000,360641.000000,360641.000000,360641.000000,360641.000000,360641.000000
mean,2017.003438,14.681882,52.186453,35.823730,38.647607,6.540785,100.710513
std,3.163628,1023.339664,1081.367436,634.756331,606.555026,201.689384,1473.074214
min,2012.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000
25%,2014.000000,-1.717791,-4.444444,0.000000,0.000000,0.000000,-6.635071
50%,2017.000000,-0.104384,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2020.000000,0.708215,5.781866,0.000000,4.651163,0.000000,13.698630
max,2022.000000,99900.000000,99900.000000,99900.000000,99900.000000,68200.000000,99900.000000

In [55]:
resultDf.to_csv('../Datasets/census/combined-datasets/census-drifts-final.csv', index=False)